@import url(header.css);
@import url(footer.css);
@import url(index.css);
@import url(contato.css);

:root{
    --azul:#002f65;
    --branco:#FFFFFF;
    --cinza:#717174;
    --azul-claro:#4d6e94;
    --branco-fundo:#EBECEE;    
    --cinza-claro:#c9cacc;
    --gradiente:linear-gradient(90deg,rgba(0,47,101,1),rgba(77,110,148,1));
}

body{
    background-color: var(--branco-fundo);
}