footer{
    background-color: var(--azul);
    padding: 2em;
    margin-top: 5em;
    border-radius: 100% solid var(--azul);
    color: var(--branco);
    font-family:'Nunito Sans';
    font-weight: 400; 
    font-size: 0.80em;
}

.lista__rodape{
    margin-bottom: 1%;    
    display: none;
}

.lista__rodape__li2 {
    margin: 0 1em 1em 0;
    color: var(--branco);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    display: none;
}

.lista__rodape__li2:hover{
    color: var(--azul-claro);
}



.lista__rodape__li {
    margin: 0 1em 1em 0;
    color: var(--branco);
    text-decoration: none;
}

.paragrafo__rodape{
    margin-top: 2%;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 16px;
    display: none;
}
.lista__rodape__li:hover{
    color: var(--azul-claro);
}

.nomes{
    margin-top: 1em;
}

.fale__conosco{
    text-decoration: none;
    color: var(--branco);
}

.fale__conosco:hover{
    color: var(--azul-claro);
}

@media screen and (min-width:1024px){
    footer{
    padding: 5em;
    }

    .lista__rodape{
    display: flex;
    flex-direction: row;
    }
    .paragrafo__rodape{
    display: block;
    }
    .lista__rodape__li2 {
    display: block;
    }
}